body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
img.header{
  width: 50%;
}
div.earnmoneypic{
  width:50%;
  padding: 40px;
}

div.earnmoneypic{
  width:50%;
  padding: 10px;
}
img.earnmoney{
  width:100%;
  margin-top: 10px;
}
div.earnmoneypara{
  width:50%;
  padding: 175px;
  padding-top: 200px;
 
}
h1.earnmoneyh1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
p.earnmoneypara{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

@media screen and (max-width: 1400px){
  div.earnmoneypara{
    width:50%;
    padding: 40px;
  padding-top: 200px;
  }
}
@media screen and (max-width: 1200px){
  div.earnmoneypara{
    width:50%;
    padding: 40px;
  padding-top: 150px;
  }
}
@media screen and (max-width: 1000px){
  div.earnmoneypara{
    width:50%;
    padding: 40px;
  padding-top: 100px;
  }
}
@media screen and (max-width: 800px){
  div.earnmoneypara{
    width:50%;
    padding: 40px;
  padding-top: 80px;
  }
}
@media screen and (max-width: 700px){
  div.earnmoneypic{
    width:100%;
    padding: 10px;
  }
  img.earnmoney{
    width:100%;
    margin-top: 10px;
  }
  div.earnmoneypara{
    width:100%;
    text-align: center;
  }
  img.header{
    width: 100%;
    
  }
}
h1.first{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
div.copyright{
  margin-top: 20px;
  padding-top:20px ;
  padding-bottom:10px ;
  padding-left: 20px;
  background-color: #333;
  color: white;
}
img.logo{
  width: 20px;
}
h1.courses{
  text-align: center;
  font-weight: 700;
}
